
@model TheGuestBook.Models.ViewModel

@{
    ViewBag.Title = "Klotterplanket";
}

<h2>@ViewBag.Message</h2>

<h1 class="text-primary border-bottom border-info">Klotterplanket</h1>
<br />
<br />

<section class="container p-3">
    <div class="row pt-4">
        <!-- Om inlägg finns i Model.MessageList som är en lista med referens till antal meddelanden så kommer dom visas, annars visas texten efter else -->
        <div class="col-6">
            @* NYTT INLÄGG *@
            <button onclick="FocusOnTextBox()" href="#Top" asp-controller="GuestBook" type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModalCenter"><a href="#Top"><i class="fas fa-plus"></i> &nbsp; Nytt Meddelande</a></button>

            @if (Model.MessageList.Count() > 0)
            {
                @foreach (var message in Model.MessageList)
                {

                    <div>
                        <hr />
                        @* Get the id of the message, used to send the ID to the post method parameter in the "GuestBookController" *@
                        <input asp-for="@message.ID" hidden />
                        <h3 width="50%" class="text-primary"><i class="fas fa-user"></i> &nbsp; @message.UserName</h3>
                        <p class="text-dark font-italic font-weight-light" style="font-size:smaller">Skriven: @message.date</p>
                        <p width="30%">@message.UserMessage</p>

                        @*<form method="post" class="btn-group w-50" role="group">
                            <a class="btn btn-primary mx-2 rounded" asp-controller="GuestBook" asp-route-Id="@message.ID" asp-action="EditMessage"><i class="fas fa-edit"></i></a>
                            <button onclick="window.preventDefault" type="submit" class="btn btn-danger  mx-2 rounded" asp-controller="GuestBook" asp-route-Id="@message.ID" asp-action="DeleteMessageConfirm"> <i class="fas fa-trash-alt"></i></button>
                        </form>*@
                    </div>
                }
            }
            else
            {
                <div>
                    <h3 class="text-primary">Oops..</h3>
                    <p>Det var tomt här.. :/</p>
                </div>
            }
            <a id="bottom"></a>
            @* MODAL FÖR NYTT INLÄGG *@
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-pencil"></i>&nbsp; Skriv meddelande</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" asp-action="Create">
                            <div class="modal-body">

                                @*<div class="col-4">
                                    <label asp-for="UserName"></label>
                                </div>

                                <div class="col-8">
                                    <input asp-for="UserName" class="form-control" value="" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>*@
                                <div class="col-4 ">
                                    <label asp-for="UserMessage"></label>
                                </div>
                                <div class="col-8">
                                    @* Binds the input to the UserMessage property in the model defined in line 1 on the @model "ModelCreatedAsAClass" *@
                                    <textarea id="textbox" rows="6" asp-for="UserMessage" class="form-control" autofocus> </textarea>
                                    <span asp-validation-for="UserMessage" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button asp-action="Index" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button href="#Top" type="submit" class="btn btn-primary w-100"><i class="far fa-plus-square"></i> &nbsp; Skapa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
    <script>
        window.onsubmit = function (e) {
        }

        function FocusOnTextBox() {
            document.getElementById("textbox").focus();
        }
    </script>

@section scripts {

    
    @* Client side validation, that hits before the backend validation *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
