
@model TheGuestBook.Models.ForumViewModel

@{
    ViewBag.Title = "Forum";
}

<h2>@ViewBag.Message</h2>

<h1 class="text-primary border-bottom border-info">Forum</h1>
<br />
<br />

<section class="container p-3">
    @* NYTT INLÄGG *@
    <button href="#Top" asp-controller="Forum" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i> &nbsp; Nytt Ämne</button>
    <div class="row pt-4">
        <!-- Om inlägg finns i Model.TopicList som är en lista med referens till antal Topic så kommer dom visas, annars visas texten efter else -->
        <div class="col-6">
            @if (Model.TopicList.Count() > 0)
            {
                @foreach (var topic in Model.TopicList)
                {

                    <div>
                        <hr />
                        @* Get the id of the message, used to send the ID to the post method parameter in the "GuestBookController" *@
                        <ul class="navbar-nav">
                            <li class="text-decoration-none nav-item ">
                                <input asp-for="@topic.ID" hidden />
                                <a class="nav-link text-primary" asp-area="" asp-controller="Forum" asp-action="Topic" asp-route-Id="@topic.ID"><i class="fas fa-folder"></i> &nbsp; @topic.ForumTopic</a>
                            </li>
                        </ul>
                        @*<h3 width="50%" class="text-primary"><i class="fas fa-folder"></i> &nbsp; @topic.ForumTopic</h3>*@
                        <p class="text-dark font-italic font-weight-light" style="font-size:smaller">Skapad av: @topic.CreatedBy @topic.Date</p>

                        <form class="offset-md-3" method="post" class="btn-group w-50" role="group">
                            <input asp-for="@topic.ID" hidden />
                            @*<a  class="btn btn-primary mx-2 rounded" asp-controller="Forum" asp-route-Id="@topic.ID" asp-action=""><i class="fas fa-edit"></i></a>*@
                            <button onclick="window.preventDefault" type="submit" class="btn btn-danger  mx-2 rounded w-25" asp-controller="Forum" asp-route-Id="@topic.ID" asp-action="DeleteTopicConfirm"> <i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                }
            }
            else
            {
                <div>
                    <h3 class="text-primary">Oops..</h3>
                    <p>Det var tomt här.. :/</p>
                </div>
            }
            <a id="bottom"></a>
            @* MODAL FÖR NYTT INLÄGG *@
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-pencil"></i>&nbsp; Ämne</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" asp-action="CreateTopic">
                            <input asp-for="ID" hidden />
                            <div class="modal-body">

                                <div class="col-4">
                                    <label asp-for="ForumTopic"></label>
                                </div>

                                <div class="col-8">
                                    <input asp-for="ForumTopic" class="form-control" value="" />
                                    <span asp-validation-for="ForumTopic" class="text-danger"></span>
                                </div>

                                <div class="col-4 ">
                                    <label asp-for="ForumTopicDescription"></label>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" asp-for="ForumTopicDescription" class="form-control"> </textarea>
                                    <span asp-validation-for="ForumTopicDescription" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button asp-action="Index" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button href="#Top" type="submit" class="btn btn-primary w-100"><i class="far fa-plus-square"></i> &nbsp; Skapa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

@section scripts {

    <script>
        window.onsubmit = function (e) {
        }
    </script>

    @* Client side validation, that hits before the backend validation *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
